* {
  box-sizing: border-box;
}

.App {
  font-family: Trebuchet MS;
  text-align: center;
}

.family-details {
  background-color: rgb(0, 0, 0, 0.5);
  margin: auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 530px;
  height: 430px;

  /* display: flex;
  flex-direction: column;
  margin: auto;
  gap: 15px; */
  /* padding: 40px;
  max-width: 480px;
  text-align: Left;
  font-size: 17px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: ; */
}

.family-details:before {
  background-image: url("https://images.unsplash.com/photo-1618367634904-45990af63c43?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MXx8fGVufDB8fHx8&w=1000&q=80");
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
}

label {
  text-align: right;
  color: white;
  font-size: 18px;
  /* margin-right: 40px; */
  font-weight: bold;
  display: block;
}

input {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  margin: 0px 20px;
  margin-bottom: 15px;
}
